<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FolderForm.Text" value="Folder" />
		<add key="ChartControl.DefaultFormulas" value="VOLMA;SlowSTO;Extend.RSI;CCI;VOLMA;VOLMA" />
		<add key="ChartControl.FavoriteFormulas" value="VOLMA;EXTEND.RSI;CCI;OBV;ATR;FastSTO;SlowSTO;ROC;TRIX;WR;AD;CMF;PPO;StochRSI;ULT;BBWidth;PVO" />
		<add key="ChartControl.OverlayFormulas" value="Extend.BB;NATIVE.MA(5);NATIVE.MA(20);NATIVE.MA(60)" />
		<add key="ChartControl.Skin" value="RedWhite" />
	</appSettings>
	<startup>
	<supportedRuntime version="v1.1.4322" />
	<requiredRuntime version="v1.1.4322" safemode="true" /></startup><runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v1.0.3705">
		</assemblyBinding></runtime></configuration>
